body {
    margin-left: 10;
    background-color: black;
    color: white;
    font-size: 12;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}